src/main/app/externalrest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="externalrestFlow1" doc:name="externalrestFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8082" doc:name="HTTP"/>
        <http:body-to-parameter-map-transformer doc:name="Body to Parameter Map"/>
        <set-variable variableName="city" value="#[payload[&quot;city&quot;]]" doc:name="Variable"/>
        <set-variable variableName="state" value="#[payload[&quot;state&quot;]]" doc:name="Variable"/>
        <response>
            <http:response-builder status="200" contentType="text/html" doc:name="HTTP Response Builder"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="${weatherlookup.hostname}" port="${weatherlookup.port}" path="data/2.5/weather?q=#[flowVars[&quot;city&quot;]],#[flowVars[&quot;state&quot;]],USA" method="GET" doc:name="weatherLookupEndpoint"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="temp" value="#[((java.lang.Float).parseFloat(payload[&quot;main&quot;][&quot;temp&quot;]) - 273.15)*1.80000 + 32.0]" doc:name="Variable"/>
        <set-variable variableName="description" value="#[payload[&quot;weather&quot;][0].description]" doc:name="Variable"/>
        <set-payload value="&lt;html&gt;&lt;body&gt;&lt;h1&gt;Weather in #[flowVars[&quot;city&quot;]],#[flowVars[&quot;state&quot;]]&lt;/h1&gt;#[(java.lang.String).format(&quot;%.2f&quot;,flowVars[&quot;temp&quot;])] &amp;deg; #[flowVars[&quot;description&quot;]]&lt;/body&gt;&lt;br&gt;&lt;/html&gt;" doc:name="Set Payload"/>
    </flow>
</mule>
