src/main/app/scripting.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="scriptingFlow1" doc:name="scriptingFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8083" doc:name="HTTP"/>
        <http:body-to-parameter-map-transformer doc:name="Body to Parameter Map"/>
        <choice doc:name="Choice">
        <when expression="#[!payload.containsKey(&quot;a&quot;)]">
                <set-variable variableName="a" value="-1" doc:name="Variable"/>
            </when>
            <otherwise>
                <set-variable variableName="a" value="#[payload[&quot;a&quot;]]" doc:name="Variable"/>
            </otherwise>
        </choice>
        <scripting:transformer doc:name="Python">
            <scripting:script engine="jython"><![CDATA[result = str(int(flowVars["a"]) * 3)]]></scripting:script>
        </scripting:transformer>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[String.valueOf(Integer.parseInt(payload)*5)]]></scripting:script>
        </scripting:component>
        <scripting:transformer doc:name="Javascript">
            <scripting:script engine="JavaScript"><![CDATA[result=(parseInt(payload)*7).toString()]]></scripting:script>
        </scripting:transformer>
        <scripting:transformer doc:name="Ruby">
            <scripting:script engine="jruby"><![CDATA[($message.payload.to_i*11).to_s]]></scripting:script>
        </scripting:transformer>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="0" doc:name="Set Payload"/>
            <http:response-builder status="200" contentType="text/plain" doc:name="HTTP Response Builder"/>
        </catch-exception-strategy>
    </flow>
</mule>
